### Common
TEST_EMAILS_RECIPIENT=
TEST_EMAILS_CC=xatefic271@ezeca.com

### MailTrap
MAILTRAP_SMTP_HOST=smtp.mailtrap.io
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_EMAIL=7dd3bbdc5b-735f34@inbox.mailtrap.io

### AWS SES
AWS_FROM_EMAIL=
AWS_ACCESS_KEY_ID=test
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=test

### SparkPost
SPARKPOST_FROM_EMAIL=
SPARKPOST_API_KEY=
SPARKPOST_BASE_URL='https://api.sparkpost.com/api/v1'

### Mailgun
MAILGUN_FROM_EMAIL=
MAILGUN_ACCESS_KEY=
MAILGUN_DOMAIN=
MAILGUN_BASE_URL=https://api.mailgun.net/v3

### Resend
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TO_EMAIL=
RESEND_API_KEY=
RESEND_BASE_URL='https://api.resend.com'

### Brevo
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_BASE_URL='https://api.brevo.com/v3'
